.tk73__whattk73 {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    background:-moz-radial-gradient(circle at 8% 71%, rgba(187, 26, 187, 1) 0%, rgba(42, 133, 153, 1) 100%);    
    background:-webkit-radial-gradient(circle at 8% 71%, rgba(187, 26, 187, 1) 0%, rgba(42, 133, 153, 1) 100%);
    background:-o-radial-gradient(circle at 8% 71%, rgba(187, 26, 187, 1) 0%, rgba(42, 133, 153, 1) 100%);
    background:-ms-radial-gradient(circle at 8% 71%, rgba(187, 26, 187, 1) 0%, rgba(42, 133, 153, 1) 100%);    
    background:radial-gradient(circle at 8% 71%, rgba(187, 26, 187, 1) 0%, rgba(42, 133, 153, 1) 100%);
}

.tk73__whattk73-feature {
    display: flex;
}

.tk73__whattk73-feature .gpt3__features-container__feature {
    margin: 0;
}

.tk73__whattk73-feature .gpt3__features-container__feature-text {
    max-width: 700px;
}

.tk73__whattk73-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 4rem 0 2rem;
}

.tk73__whattk73-heading h1 {
    font-size: 34px;
    line-height: 45px;
    font-weight: 800;
    max-width: 510px;
    font-family: var(--font-family);
}

.tk73__whattk73-heading p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
}

.tk73__whattk73-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 2rem;
}

.tk73__whattk73-container .tk73__features-container__feature {
    flex: 1;
    margin: 1rem;
    min-width: 210px;
    display: unset;
    flex-direction: column;
}

.tk73__whattk73-container .tk73__features-container_feature-text {
    margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
    .tk73__whattk73-heading {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 0rem;
    }

    .tk73__whattk73-heading p {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .tk73__whattk73-feature .tk73__features-container__feature {
        flex-direction: column;
    }

    .tk73__whattk73-feature .tk73__features-container_feature-text {
        margin-top: 0.5rem;
    }

    .tk73__whattk73-heading h1 {
        font-size: 28px;
        line-height: 40px;
    }
}

@media screen and (max-width: 350px) {
    .tk73__whattk73-container .tk73__features-container__feature {
        margin: 1rem 0;
        min-width: 100%;
    }
}