.tk73__possibility {
    display: flex;
    flex-direction: row;
}

.tk73__possibility-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 2rem 0 2rem;
}

.tk73__possibility-image img {
    width: 100%;
    height: 100%;
    border-radius: 30% 20px 45% 70px;
}

.tk73__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.tk73__possibility-content h4{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
}
.tk73__possibility-content h4:last-child{
    color: #53b5f9;
}

.tk73__possibility-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}
.tk73__possibility-content p{
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
    color: var(--color-text);
    margin-bottom: 2rem;   
}


@media screen and (max-width: 950px) {
    .tk73__possibility {
        flex-direction: column;
    }
    .tk73__possibility-image {
        margin: 0 8rem;
    }
    .tk73__possibility-image img {
        width: 500px;
    }
    .tk73__possibility-content {
        margin: 2rem 6rem;
    }
}
@media screen and (max-width: 700px) {
    .tk73__possibility-image img {
        width: 230px;
    }
    .tk73__possibility-image {
        margin: 0 4rem;
    }
    .tk73__possibility-content {
        margin: 3rem;
    }
}


